.about-buttons {

    display: grid;
    margin: 20 auto;
    padding: 18px 20px;
    width: 100vw;
    background-color: $border-btn-color;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
  grid-template-rows: 100px;

    .about-accent {
        display: block;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.1);
        border-color: $base-color;
        border-width: 2px;
        border-style: solid;
        text-align: center;
        padding: 18px 20px;
        min-width: 400px;
        font-size: 1.125rem;
        letter-spacing: 0.15em;
        &:hover,
        &:focus {
        background-color: $accent-color;
    
        }

    }
}