.registration-form {
    background-color: $border-btn-color;
    padding: 20px 0 30px;

    .container {
      display: grid;
      grid-gap: 20px;
     
   
    }
      .btnform-accent {
        width: 100%;
        height: 60px;
        margin: 0;
        color: #ffffff;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
      }


      

      
      .registration_btn__input {

          display: block;
          width: 100%;
          height: 60px;
          padding-right: 20px;
          padding-left: 20px;
          color: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0);
          border-bottom-color: rgba(255, 255, 255, 0.25);
          background-color: rgba(255, 255, 255, 0.05);
          font-size: 1.125rem;
          letter-spacing: 0.15em;
      }    
         
      }
      

  
  
        .registration-form .btn-accent:hover,
        .registration-form .btn-accent:focus {
          cursor: pointer;

          border-color: #ffffff;
          background-color: #d66926;
        }
        .registration_btn__input:hover,
        .registration_btn__input:focus {
          border-color: rgba(255, 255, 255, 0.15);
          border-bottom-color: #ffffff;
          background-color: rgba(255, 255, 255, 0.15);
        }
        .registration_btn__input:hover::placeholder,
        .registration_btn__input:focus::placeholder {
          color: #8c9bab;
        }