.about {
    background-color: $gray-color;

    h2 {
        margin-bottom: 50px;
    }

    .container {
        grid-template-columns: 1fr 271px;
        grid-gap: 100px;
    }

    &-image {

    }

    &-text {
        font-size: 1.25rem;

        p {
            font-size: 1.125rem;
            position: relative;
        
            &:first-of-type::after {
                content: "";
                height: 200px;
                width: 2px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: #ccc;
            }
        }
    }

}