.header-content {
        position: relative;
        z-index: 1;
}

        .container {
            display: grid;
            max-width: 1340px;
            margin: auto;
            padding: 0 20px;
        }
