$base-color: #ffffff;
$accent-color: #d66926;
$backcolor: #637588;
$border-btn-color: #2d3651; 
$gray-color: #E5E5E5;
$lightgray-color: #eeeeee;
$darkgray-color: #d5d5d5;
$post-color: #f2f2f2;
$posthover-color: #d8d8d8;
