.post-item {

    display: grid;
    align-content: start;
    transition: background-color 0.5s;
   
        a {
            height: 100%;
            display: grid;
            grid-template-rows: 300px 1fr;
            overflow: hidden;
            color: $backcolor;
        }
        

        &__image {
                position: relative;
                overflow: hidden;
            div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: transform 0.5s;
                background-color: $border-btn-color;
                background-position: 50% 50%;
                background-size: cover;
            }
          }
         
                    &__text {

                        display: grid;
                        align-content: center;
                        padding: 20px;

                            h3, p {
                                transition: color 0.5s;
                                text-align: center;
                            }
                        
                        
                    }
       
        
    

   
    &:hover {
        background-color: $darkgray-color;

        .post-item__image div {
            transform: scale(1.1);
        }

        h3 {
            color: $border-btn-color;
        }
        p {
            color: $border-btn-color;
        }

    }

}    
